/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.development
.env.staging
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.php-cs-fixer.cache
/.coverage-html
/html
/.composer
/.bash_history
dump.sql.gz
dump-dev.sql.gz
dump-prod.sql.gz
phpunit.phar
.vagrant
*.log

